<div class="vendorresults index">
	<h2><?php echo __('Vendorresults'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('vendortest_id'); ?></th>
			<th><?php echo $this->Paginator->sort('user_id'); ?></th>
			<th><?php echo $this->Paginator->sort('mark'); ?></th>
			<th><?php echo $this->Paginator->sort('exam_time'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($vendorresults as $vendorresult): ?>
	<tr>
		<td><?php echo h($vendorresult['Vendorresult']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($vendorresult['Vendortest']['title'], array('controller' => 'vendortests', 'action' => 'view', $vendorresult['Vendortest']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($vendorresult['User']['id'], array('controller' => 'users', 'action' => 'view', $vendorresult['User']['id'])); ?>
		</td>
		<td><?php echo h($vendorresult['Vendorresult']['mark']); ?>&nbsp;</td>
		<td><?php echo h($vendorresult['Vendorresult']['exam_time']); ?>&nbsp;</td>
		<td><?php echo h($vendorresult['Vendorresult']['created']); ?>&nbsp;</td>
		<td><?php echo h($vendorresult['Vendorresult']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $vendorresult['Vendorresult']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $vendorresult['Vendorresult']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $vendorresult['Vendorresult']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $vendorresult['Vendorresult']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Vendorresult'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Vendortests'), array('controller' => 'vendortests', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Vendortest'), array('controller' => 'vendortests', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
	</ul>
</div>
